.config
*.o
*.o.cmd
*.cmd
*.map
*.su
*.tmp
include/generated/*
spl/arch/
spl/board/
spl/cmd/
spl/common/
spl/drivers/
spl/env/
spl/lib/
spl/u-boot-spl
spl/u-boot-spl-dtb.bin
spl/u-boot-spl-nodtb.bin
spl/u-boot-spl.bin
spl/u-boot-spl.dtb
spl/u-boot-spl.lds
spl/u-boot.cfg
test/dm/cmd_dm.su
uboot.img
include/config/uboot.release
u-boot
u-boot-dtb.bin
u-boot-dtb.img
u-boot-nodtb.bin
u-boot.bin
u-boot.cfg
u-boot.cfg.configs
u-boot.dtb
u-boot.img
u-boot.lds
u-boot.srec
u-boot.sym
arch/arm/lib/asm-offsets.s
arch/arm/lib/lib.a
lib/asm-offsets.s
